.vids-list{
    display: grid;
    gap: 1rem;

    width: 100%;
}

.vid-preview{
    display: grid;
    grid-template-columns: 120px;
    padding: 1rem;

    background-color: var(--clr3);
    box-shadow: -5px 6px 8px 0px;
}

.vid-preview > *{
    margin-block: auto;
}

.vid-preview :nth-child(2){
    grid-column: 2;
    margin-inline-start: .5rem;
    color: var(--clr0);
}